<div class="jumbotron text-center" style="background-color: #E6E6FF">

	<div class="banner-info " style="background-color: #0d0d0d">
		<div class="container" >

			<div class="col-md-8 header-right" style="margin-left: 80px">

				<h1> <b><i>Pravin Laxman Dagde</i></b></h1>
				<h6>

					<span class="blink_text"><b>SOFTWARE DEVELOPER AT MEDIBOX DIGITAL SOLUTIONS,BANGALORE</b></span>

					<h2 style="margin-left: 497px;margin-top: -18px;padding-right: 100px;left: 150px" class="nav navbar">
				<span class="falinks" style="margin-left: 85px" >

					<a href="https://www.facebook.com/pravin.dagde" style="margin-left: -69px" ><i class="fa fa-facebook" style="color: #265a88"></i></a>
					<a href="{{social.linkedin}}" style="margin-left: 10px" ><i class="fa fa-linkedin" style="color: #265a88"></i></a>
					<a href="{{social.twitter}}" style="margin-left: 10px" ><i class="fa fa-twitter" style="color: #00b3ee"></i></a>
					<a href="{{social.skype}}" style="margin-left: 10px" ><i class="fa fa-skype" style="color: #00b3ee"></i></a>
					<a href="{{social.github}}" style="margin-left: 10px" ><i class="fa fa-github" style="color: #691F78"></i></a>
					<a href="{{social.insta}}" style="margin-left: 10px" ><i class="fa fa-instagram" ></i></a>
				</span> </h2>
				</h6>

				<ul class="address">
					<li>
						<ul class="address-text">
							<li><b>D.O.B</b></li>
							<li>13-03-1990</li>
						</ul>
					</li>
					<li>
						<ul class="address-text">
							<li><b>PHONE </b></li>
							<li>9689055690</li>
						</ul>
					</li>
					<li>
						<ul class="address-text" style="margin-left: 215px">
							<li><b>ADDRESS </b></li>
							<li> Koramangala, Bangalore - 560047, KA, India.</li>
						</ul>
					</li>
					<li>
						<ul class="address-text" style="margin-left: 81PX">
							<li><b>E-MAIL </b></li>
							<li><a href="mailto:{{mail}}">{{mail}}</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

</div>
