<!DOCTYPE html>
<html lang="en" >
<head style="padding-top: 82%" >
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body >
<div style="padding-top: 10px">
<div class="row" style="padding: 10px">
    <div class="col-md-4 header-left">
        <img src="/img/travel/8.JPG" alt=""/>
        <h2>Single</h2>
    </div>

    <div class="col-md-4 header-left">
        <img src="/img/travel/2.JPG" alt=""/>
        <h2>sagar abd arif</h2>
    </div>

    <div class="col-md-4 header-left">
        <img src="/img/travel/3.JPG" alt=""/>
        <h2>withjacket</h2>
    </div>
</div>
<div class="row" style="padding: 10px">
    <div class="col-md-4 header-left">
        <img src="/img/travel/4.JPG" alt=""/>
        <h2>rakesh and sai</h2>
    </div>

    <div class="col-md-4 header-left">
        <img src="/img/travel/5.JPG" alt=""/>
        <h2>with gogal</h2>
    </div>

    <div class="col-md-4 header-left">
        <img src="/img/travel/6.JPG" alt=""/>
        <h2>boxer</h2>
    </div>
    <div class="col-md-4 header-left">
        <img src="/img/travel/7.JPG" alt=""/>
        <h2>stunt</h2>
    </div>
    <div class="col-md-4 header-left">
        <img src="/img/travel/ooty.jpg" alt=""/>
        <h2>Ooty</h2>
    </div>
    <div class="col-md-4 header-left">
        <img src="/img/travel/mysore.jpg" alt=""/>
        <h2>mysore</h2>
    </div>

</div>
</div>
</body>
</html>
